body {
  font-family: Arial, Helvetica, sans-serif;
}

.para {
  color: hsl(0, 0%, 0%);
  font-weight: 1000;
  font-size: 44px;
}

.small-para {
  font-size: 24px;
  font-weight: 1000;
}

#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
} 

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

div.text.child {
  color: rgb(0, 0, 0);
  font-weight: 1000;
  font-size: 14px;
}

div.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}
