.button1, .button2 {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.button1 {
    background-color: black;
    color: white;
    font-weight: bold;
}

.button2 {
    background-color: yellow;
}

